# Source: https://github.com/thedavidchu/merry_mem/blob/main/.clang-format
BasedOnStyle: LLVM
AlwaysBreakAfterReturnType: All
IndentWidth: 4
ColumnLimit: 80
BreakBeforeBraces: WebKit
AlignAfterOpenBracket: Align
AccessModifierOffset: -4
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
PackConstructorInitializers: Never
AlignConsecutiveMacros: AcrossEmptyLines
InsertNewlineAtEOF: true
