[submodule "src/mrc/goel_quickmrc/quickmrc"]
	path = src/mrc/goel_quickmrc/quickmrc
	url = https://github.com/thedavidchu/quickmrc.git
[submodule "subprojects/libCacheSim"]
	path = subprojects/libCacheSim
	url = https://github.com/1a1a11a/libCacheSim.git
